
/* @media screen styles  */
@media screen and (max-width: 900px) {

.modal label {
	color: #0077C0;
	width: 300px;
	font-size: 13px;
}


label.cb {
	font-size: 12px;
	margin: 5px 0;
}

.modal-inner {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	width: 50%;
	max-width: 600px;

}



h2 {
	font-size: 28px;
}

h4 {
	font-size: 18px;
	padding-top: 20px;

}

.modal button {
margin: 20px 0;
width: 90px;
font-size: 14px;
}

.modal-text {
	margin-top: 80px;
	font-size: 15px;
}

}

@media screen and (max-width: 700px) {

.modal label {
	color: #0077C0;
	width: 300px;
	font-size: 13px;
}


label.cb {
	font-size: 12px;
	margin: 5px 0;
}

.modal-inner {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	width: 75%;
	max-width: 600px;

}



h2 {
	font-size: 28px;
}

h4 {
	font-size: 18px;
	padding-top: 20px;

}

.modal button {
margin: 20px 0;
width: 90px;
font-size: 14px;
}

.modal-text {
	margin-top: 80px;
	font-size: 15px;
}

}

@media screen and (max-height: 550px) {

	.modal {
		padding-top: 1%;
	}

.modal label {
	color: #0077C0;
	width: 100px;
	font-size: 13px;
}


label.cb {
	font-size: 12px;
	margin: 5px 0;
	width: 200px
}

.modal-inner {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	width: 50%;
	max-width: 400px;

}



h2 {
	font-size: 20px;
	padding-right: 10%;
}

h4 {
	font-size: 14px;
	padding-top: 10px;
	padding-right: 10%;

}

.modal button {
margin: 10px 0;
width: 90px;
font-size: 12px;
}

.modal-text {
	margin-top: 80px;
	font-size: 13px;
}

}





/* ////// */
@media screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}

	h3 {
	font-size: 2.5em;
    }

	 .normal {
	padding-bottom: 20%;
	width: 20%;
    }

	.hard {
	padding-bottom: 20%;
	width: 20%;
	}

.logo {
	width: 120px;
	padding-top: 2%;
}
.dashboard-icon {
	font-size: 1.2rem;
	padding-top: .5rem;
}
#timer{
	margin: 0 .01rem;
	font-size: 1rem;
}

#moves{
	margin: 0 .01rem;
	font-size: 1rem;
}

#reset {
	font-size: 1rem;
}
.modal-text1 {
	font-size: 1.2em;
}

.dashboard {
	width: 95%;
}


}


@media screen and (max-height: 450px){

	body {
	font-size: 14px;
}

	.logo {
	width: 90px;
	padding-bottom: 0;
	margin-top: .4rem;
	margin-bottom: -.2rem;
	/* line-height: .1rem; */

}

.dashboard-icon {
	font-size: .9rem;
	padding-bottom: 0;
	padding-top: .45rem;
	/* line-height: .1rem; */
}
#timer{
	margin: 0 .01rem;
	font-size: .95rem;
	padding: 0;
}

#moves{
	margin: 0 .01rem;
	font-size: .95rem;
	padding: 0;
}

#reset {
	font-size: .79rem;
	padding-bottom: 0;
	padding-top: .3rem;
	/* line-height: .1rem; */
}



#form label {
	line-height: 26px;
}


.container {
	width: 79%;
}

.game-board {
	padding: 1%;
}

 .card-container {
	margin: .5%;
}

.modal-text1 {
	font-size: 1.2em;
}

.dashboard {
	width: 95%;
}

	.easy {
	padding-bottom: 11%;
	width: 11%;
    }

    .normal {
	padding-bottom: 11%;
	width: 11%;
    }

	.hard {
	padding-bottom: 11%;
	width: 11%;
    }

	h3 {
	font-size: 2.5em;
    }


    .modal {
	padding-top: 2%;
    }

}

.timer2  {
visibility: none;
height:0;
width:0;
}

.timer3 {
visibility: none;
height:0;
width:0;
}


@media screen and (max-width: 420px) {

.modal label {
	text-align: left;
}

}


@media screen and (max-height: 380px) {

.container {
	width: 96%;
}

}

@media screen and (max-height: 360px) {

.container {
	width: 79%;
}
}

/* RES 667 x 375 */

@media screen and (width: 667px) and (height: 375px){

.container.activeE {
	width: 55%;
}

.container.activeN {
	width: 100%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}
#moves {
	font-size: 1rem;
}
.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 100%;
}
.dashboard.activeN {
	width: 82%;
}

.dashboard.activeH {
	width: 86%;
}


/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 375px) and (height: 667px){


.container {
	width: 100%;
	padding-top: 10%;
}
.easy {
	padding-bottom: 20%;
	width: 20%;
}
#moves {
	font-size: 1rem;
}
.logo {
	width: 100px;
}
.dashboard {
	width: 100%;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 896 x 414 */

@media screen and (width: 896px) and (height: 414px){


.container.activeE {
	width: 100%;
	padding-top: 1%;
}

.container.activeN {
	width: 100%;
	padding-top: 1%;
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 150px;
}
.dashboard.activeE {
	width: 86%;
}
.dashboard.activeN {
	width: 86%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}
/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}

}

@media screen and (width: 414px) and (height: 896px){


.container {
	width: 100%;
	padding-top: 10%;
}


.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .8rem;
}


#timer{
  font-size: 1rem;
}

#moves{
  font-size: 1rem;
}

#reset {
 font-size: .8rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}


/* RES 844 x 390 */

@media screen and (width: 844px) and (height: 390px){


.container.activeE {
	width: 100%;
	padding-top: 1%;
}

.container.activeN {
	width: 100%;
	padding-top: 1%;
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 150px;
}
.dashboard.activeE {
	width: 86%;
}
.dashboard.activeN {
	width: 86%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 390px) and (height: 844px){


.container {
	width: 100%;
	padding-top: 10%;
}


.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .8rem;
}


#timer{
  font-size: 1rem;
}

#moves{
  font-size: 1rem;
}

#reset {
 font-size: .8rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 851x 393 */

@media screen and (width: 851px) and (height: 393px){


.container.activeE {
	width: 100%;
	padding-top: 1%;
}

.container.activeN {
	width: 100%;
	padding-top: 1%;
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 150px;
}
.dashboard.activeE {
	width: 86%;
}
.dashboard.activeN {
	width: 86%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 393px) and (height: 851px){


.container {
	width: 100%;
	padding-top: 10%;
}


.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .8rem;
}


#timer{
  font-size: 1rem;
}

#moves{
  font-size: 1rem;
}

#reset {
 font-size: .8rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 740x 360 */

@media screen and (width: 740px) and (height: 360px){


.container.activeE {
	width: 100%;
	padding-top: 1%;
}

.container.activeN {
	width: 100%;
	padding-top: 1%;
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 150px;
}
.dashboard.activeE {
	width: 84%;
}
.dashboard.activeN {
	width: 84%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 360px) and (height: 740px){


.container {
	width: 100%;
	padding-top: 10%;
}


.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 90px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .8rem;
}


#timer{
  font-size: 1rem;
}

#moves{
  font-size: 1rem;
}

#reset {
 font-size: .8rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 915 x 412 */

@media screen and (width: 915px) and (height: 412px){


.container.activeE {
	width: 100%;
	padding-top: 1%;
}

.container.activeN {
	width: 100%;
	padding-top: 1%;
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 130px;
}
.dashboard.activeE {
	width: 84%;
}
.dashboard.activeN {
	width: 84%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 12px;
}

.highScore ul {
 font-size: 12px;
 line-height: 1.8;
}
}

@media screen and (width: 412px) and (height: 915px){


.container {
	width: 100%;
	padding-top: 10%;
}


.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 90px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .8rem;
}


#timer{
  font-size: 1rem;
}

#moves{
  font-size: 1rem;
}

#reset {
 font-size: .8rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 1180 x 820 */

@media screen and (width: 1180px) and (height: 820px){

.border {
	max-width: 1180px;
}
.container.activeE {
	width: 72%;
}

.container.activeN {
	width: 99%;
}

.container.activeH {
	width: 100%
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 130px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 90%;
}
.dashboard.activeH {
	width: 90%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 28px;
}

.highScore p {
 font-size: 22px;
}

.highScore ul {
 font-size: 22px;
 line-height: 1.8;
}
}

@media screen and (width: 820px) and (height: 1180px){


.container.activeE {
	width: 100%;
	padding-top: 5%;
}

.container.activeN {
	width: 100%;
	padding-top: 5%;
}

.container.activeH {
	width: 79%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.hard {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 140px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.3rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 28px;
}

.highScore p {
 font-size: 22px;
}

.highScore ul {
 font-size: 22px;
 line-height: 1.8;
}
}

/* RES 1024 x 768 */

@media screen and (width: 1024px) and (height: 768px){

.border {
	max-width: 1024px;
}
.container.activeE {
	width: 78%;
}

.container.activeN {
	width: 100%;
}

.container.activeH {
	width: 100%
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 130px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 86%;
}
.dashboard.activeH {
	width: 86%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 27px;
}

.highScore p {
 font-size: 21px;
}

.highScore ul {
 font-size: 21px;
 line-height: 1.8;
}
}

@media screen and (width: 768px) and (height: 1024px){


.container.activeE {
	width: 100%;
	padding-top: 5%;
}

.container.activeN {
	width: 96%;
}

.container.activeH {
	width: 72%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.normal {
	padding-bottom: 20%;
	width: 20%;
}

.hard {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 140px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 87%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.3rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 27px;
}

.highScore p {
 font-size: 21px;
}

.highScore ul {
 font-size: 21px;
 line-height: 1.8;
}
}

/* RES 1368 x 912 */

@media screen and (width: 1368px) and (height: 912px){

.border {
	max-width: 1368px;
}
.container.activeE {
	width: 70%;
}

.container.activeN {
	width: 96%;
}

.container.activeH {
	width: 100%
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 130px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 90%;
}
.dashboard-icon {
	font-size: 1.5rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 30px;
}

.highScore p {
 font-size: 25px;
}

.highScore ul {
 font-size: 25px;
 line-height: 1.8;
}
}

@media screen and (width: 912px) and (height: 1368px){


.container.activeE {
	width: 100%;
}

.container.activeN {
	width: 100%;
}

.container.activeH {
	width: 83%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.normal {
	padding-bottom: 20%;
	width: 20%;
}

.hard {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 140px;
}
.dashboard.activeE {
	width: 87%;
}
.dashboard.activeN {
	width: 87%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.3rem;
}


#timer{
  font-size: 1.5rem;
}

#moves{
  font-size: 1.5rem;
}

#reset {
 font-size: 1.3rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 30px;
}

.highScore p {
 font-size: 25px;
}

.highScore ul {
 font-size: 25px;
 line-height: 1.8;
}
}

/* RES 720 x 540 */

@media screen and (width: 720px) and (height: 540px){

.container.activeE {
	width: 74%;
}

.container.activeN {
	width: 100%;
}

.container.activeH {
	width: 100%
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 120px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 84%;
}
.dashboard.activeH {
	width: 84%;
}
.dashboard-icon {
	font-size: 1.2rem;
}


#timer{
  font-size: 1.2rem;
}

#moves{
  font-size: 1.2rem;
}

#reset {
 font-size: 1rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 18px;
}

.highScore p {
 font-size: 14px;
}

.highScore ul {
 font-size: 14px;
 line-height: 1.8;
}
}

@media screen and (width: 540px) and (height: 720px){


.container.activeE {
	width: 100%;
}

.container.activeN {
	width: 92%;
}

.container.activeH {
	width: 70%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.normal {
	padding-bottom: 20%;
	width: 20%;
}

.hard {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 80%;
}
.dashboard.activeN {
	width: 87%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1rem;
}


#timer{
  font-size: 1rem;
}

#moves{
  font-size: 1rem;
}

#reset {
 font-size: .9rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 18px;
}

.highScore p {
 font-size: 14px;
}

.highScore ul {
 font-size: 14px;
 line-height: 1.8;
}
}

/* RES 653 x 280 */

@media screen and (width: 653px) and (height: 280px){

.container.activeE {
	width: 100%;
	padding-top: 2%;
}

.container.activeN {
	width: 89%;
}

.container.activeH {
	width: 70%
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 82%;
}
.dashboard.activeN {
	width: 92%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1rem;
}


#timer{
  font-size: 1.1rem;
}

#moves{
  font-size: 1.1rem;
}

#reset {
 font-size: .8rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 2em;
}

.highScoreName{
	font-size: 10px;
}

.highScore p {
 font-size: 8px;
}

.highScore ul {
 font-size: 8px;
 line-height: 1.8;
}
}

@media screen and (width: 280px) and (height:653px){


.container.activeE {
	width: 100%;
	padding-top: 14%;
}

.container.activeN {
	width: 100%;
	padding-top: 14%;
}

.container.activeH {
	width: 100%;
	padding-top: 14%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.normal {
	padding-bottom: 20%;
	width: 20%;
}

.hard {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 70px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .6rem;
}


#timer{
  font-size: .7rem;
}

#moves{
  font-size: .7rem;
}

#reset {
 font-size: .7rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 2em;
}

.highScoreName{
	font-size: 10px;
}

.highScore p {
 font-size: 8px;
}

.highScore ul {
 font-size: 8px;
 line-height: 1.8;
}
}

/* RES 914 x 412 */

@media screen and (width: 914px) and (height: 412px){

.container.activeE {
	width: 100%;
	padding-top: 1%;
}

.container.activeN {
	width: 100%;
	padding-top: 1%;
}

.container.activeH {
	width: 80%
}

.easy {
	padding-bottom: 11%;
	width: 11%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 84%;
}
.dashboard.activeN {
	width: 84%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: 1.2rem;
}


#timer{
  font-size: 1.2rem;
}

#moves{
  font-size: 1.2rem;
}

#reset {
 font-size: 1.1rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 2.5em;
}

.highScoreName{
	font-size: 15px;
}

.highScore p {
 font-size: 12px;
}

.highScore ul {
 font-size: 12px;
 line-height: 1.8;
}
}

@media screen and (width: 412px) and (height:914px){


.container.activeE {
	width: 100%;
	padding-top: 12%;
}

.container.activeN {
	width: 100%;
	padding-top: 12%;
}

.container.activeH {
	width: 100%;
	padding-top: 12%;
}

.easy {
	padding-bottom: 20%;
	width: 20%;
}

.normal {
	padding-bottom: 20%;
	width: 20%;
}

.hard {
	padding-bottom: 20%;
	width: 20%;
}

.logo {
	width: 100px;
}
.dashboard.activeE {
	width: 94%;
}
.dashboard.activeN {
	width: 94%;
}
.dashboard.activeH {
	width: 94%;
}
.dashboard-icon {
	font-size: .8rem;
}


#timer{
  font-size: .9rem;
}

#moves{
  font-size: .9rem;
}

#reset {
 font-size: .9rem;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 14px;
}

.highScore p {
 font-size: 11px;
}

.highScore ul {
 font-size: 11px;
 line-height: 1.8;
}
}
