
/* @media screen styles  */

/* ///MODAL */
 /* @media screen and (max-height:) { */


 @media screen and (orientation:portrait) {
	.modal-inner {
		width: 70%;
    padding: 5%;
	}
}


 @media screen and (max-height:620px){



	.modal label {
		margin: 5px 0;
		width: 30%;
		font-size: 14px;
	}

	label.cb {
		font-size: 14px;
		width: 100vh;
		margin: 2px 0;
	}


	h2 {
		font-size: 16px;
	}

	h4 {
		font-size: 15px;
	}

	.modal button {
	margin: 10px 0;
	width: 100px;
	font-size: 14px;
	}

	.modal-text {
		font-size: 15px;
	}
}





/* ////GLOBAL */






@media screen and (max-width: 320px) {
	.game-board.activeE {
		width: 75%;
	}
}

/* //////easy normal hard */


@media screen and (max-width: 700px) and (orientation:portrait){
	.hard {
		padding-bottom: 20%;
		width: 20%;
	}

	.game-board.activeH {
	 width: 74%;
	}
}


@media screen and (max-width: 440px) and (orientation:portrait){
	.normal {
		padding-bottom: 30%;
		width: 30%;
	}
	.game-board.activeN {
	 width: 82%;
	}
}
@media screen and (max-width: 320px) and (orientation:portrait){

	.easy {
		padding-bottom: 40%;
		width: 40%;
	}
}

/* ///////WH */
/* ///////W 800 */

/* @media screen and (max-width: 800px) and (max-height: 1000px) and (min-height:500px){

	.game-board.activeH {
	 width: 100%;
	}
} */
/* ///////W 1000 */

/* ///////W 800 */




/* ///////W 700 */









/* /////landscape */

@media screen and (orientation:landscape) and (max-height: 940px){
	.game-board.activeE {
	width: 96%;
	}
}
@media screen and (orientation:landscape) and (max-height: 910px){
	.game-board.activeE {
	width: 92%;
	}
}
@media screen and (orientation:landscape) and (max-height: 870px){
	.game-board.activeE {
	width: 88%;
	}
}
@media screen and (orientation:landscape) and (max-height: 835px){
	.game-board.activeE {
	width: 84%;
	}
}
@media screen and (orientation:landscape) and (max-height: 800px){
	.game-board.activeE {
	width: 80%;
	}
}
@media screen and (orientation:landscape) and (max-height: 770px){
	.game-board.activeE {
	width: 76%;
	}
}
@media screen and (orientation:landscape) and (max-height: 735px){
	.game-board.activeE {
	width: 72%;
	}
}
@media screen and (orientation:landscape) and (max-height: 715px){
	.game-board.activeN {
	width: 96%;
	}
}
@media screen and (orientation:landscape) and (max-height: 700px){
	.game-board.activeE {
	width: 68%;
	}
	.game-board.activeN {
	width: 92%;
	}
  .game-board.activeH {
	width: 92%;
	}
}
@media screen and (orientation:landscape) and (max-height: 665px){
	.game-board.activeE {
	width: 64%;
	}
	.game-board.activeN {
	width: 88%;
	}
}
@media screen and (orientation:landscape) and (max-height: 640px){
	.game-board.activeN {
	width: 84%;
	}
}
@media screen and (orientation:landscape) and (max-height: 630px){
	.game-board.activeE {
	width: 60%;
	}
}
@media screen and (orientation:landscape) and (max-height: 615px){
	.game-board.activeN {
	width: 80%;
	}
}
@media screen and (orientation:landscape) and (max-height: 600px){
	.easy {
		padding-bottom: 10%;
		width: 10%;
		font-size: 3rem;
	}
	.game-board.activeE {
	width: 100%;
	}
	.game-board.activeN {
	width: 76%;
	}
}
@media screen and (orientation:landscape) and (max-height: 575px){
	.game-board.activeH {
	width: 96%;
	}
}
@media screen and (orientation:landscape) and (max-height: 565px){
	.game-board.activeN {
	width: 72%;
	}
}
@media screen and (orientation:landscape) and (max-height: 550px){
	.game-board.activeH {
	width: 92%;
	}
}
@media screen and (orientation:landscape) and (max-height: 535px){
	.normal {
		padding-bottom: 10%;
		width: 10%;
	}
	.game-board.activeN {
	width: 100%;
 }
	.game-board.activeH {
	width: 88%;
	}
}
@media screen and (orientation:landscape) and (max-height: 510px){
	.game-board.activeH {
	width: 84%;
	}
}
@media screen and (orientation:landscape) and (max-height: 490px){
	.game-board.activeH {
	width: 80%;
	}
}
@media screen and (orientation:landscape) and (max-height: 475px){
	.game-board.activeH {
	width: 76%;
	}
}



@media screen and (orientation:landscape) and (max-height: 460px){
	.game-board.activeN {
	width: 96%;
	}
}
@media screen and (orientation:landscape) and (max-height: 450px){
	.game-board.activeH {
	width: 72%;
	}
}



@media screen and (orientation:landscape) and (max-height: 430px){
	.game-board.activeH {
	width: 68%;
	}
}
@media screen and (orientation:landscape) and (max-height: 425px){
	.game-board.activeN {
	width: 88%;
	}
}
@media screen and (orientation:landscape) and (max-height: 410px){
	.game-board.activeH {
	width: 64%;
	}
}
@media screen and (orientation:landscape) and (max-height: 395px){
	.game-board.activeN {
	width: 80%;
	}
	.game-board.activeH {
	width: 60%;
	}
}

@media screen and (orientation:landscape) and (max-height: 375px){
	.game-board.activeN {
	width: 76%;
	}
	.game-board.activeH {
	width: 56%;
	}
}
@media screen and (orientation:landscape) and (max-height: 365px){
	.game-board.activeN {
	width: 72%;
	}
	.game-board.activeH {
	width: 54%;
	}
}
 @media screen and (orientation:landscape) and (max-height: 355px){
	.normal {
		padding-bottom: 6%;
		width: 6%;
	}
	.game-board.activeN {
	width: 100%;
	}
}
@media screen and (orientation:landscape) and (max-height: 350px){
	.game-board.activeH {
	width: 50%;
	}
}

@media screen and (orientation:landscape) and (max-height: 340px){
	.easy {
		padding-bottom: 10%;
		width: 10%;
		font-size: 3rem;
	}
	.game-board.activeE {
	width: 100%;
	}
}







/* ////850 */
/* @media screen and (max-width: 896px) and (max-height: 414px){
  .game-board.activeH {
   width: 74%;
  }
} */
@media screen and (max-width: 1370px) and (max-height: 920px){
  .game-board.activeE {
   width: 92%;
  }
}

 @media screen and (max-width: 950px) and (max-height: 800px){
   .game-board.activeN {
    width: 96%;
   }
  .game-board.activeH {
   width: 74%;
  }
}
@media screen and (max-width: 915px) and (max-height: 412px){

 .game-board.activeH {
  width: 72%;
 }
}

@media screen and (max-width: 850px) and (max-height: 800px){

	.game-board.activeE {
	 width: 90%;
	}
}
@media screen and (max-width: 850px) and (max-height: 750px){

	.game-board.activeE {
	 width: 86%;
	}
}
@media screen and (max-width: 850px) and (max-height: 720px){

	.game-board.activeE {
	 width: 82%;
	}
}
@media screen and (max-width: 850px) and (max-height: 715px){

	.game-board.activeN {
	 width: 100%;
	}
}
@media screen and (max-width: 850px) and (max-height: 690px){

	.game-board.activeE {
	 width: 78%;
	}
}
@media screen and (max-width: 850px) and (max-height: 660px){

	.game-board.activeE {
	 width: 74%;
	}
}
@media screen and (max-width: 850px) and (max-height: 635px){

	.game-board.activeE {
	 width: 70%;
	}
}




@media screen and (max-width: 850px) and (max-height: 625px){

	.game-board.activeN {
	 width: 94%;
	}
}
@media screen and (max-width: 850px) and (max-height: 600px){
  .easy {
  	padding-bottom: 20%;
  	width: 20%;
  	font-size: 3rem;
  }
  .game-board.activeE {
	 width: 66%;
	}
	.game-board.activeN {
	 width: 90%;
	}
}
@media screen and (max-width: 850px) and (max-height: 575px){
  .game-board.activeE {
	 width: 62%;
	}
	.game-board.activeN {
	 width: 86%;
	}
	.game-board.activeH {
	 width: 100%;
	}
}
@media screen and (max-width: 850px) and (max-height: 550px){
  .game-board.activeE {
   width: 58%;
  }
	.game-board.activeN {
	 width: 82%;
	}
	.game-board.activeH {
	 width: 96%;
	}
}
@media screen and (max-width: 850px) and (max-height: 535px){
  .easy {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .normal {
		padding-bottom: 14%;
		width: 14%;
	}
  .game-board.activeE {
   width: 100%;
  }
	.game-board.activeN {
	 width: 78%;
	}
}
@media screen and (max-width: 850px) and (max-height: 505px){

	.game-board.activeN {
	 width: 74%;
	}
}
@media screen and (max-width: 850px) and (max-height: 480px){

	.game-board.activeN {
	 width: 70%;
	}
	.game-board.activeH {
	 width: 92%;
	}
}
@media screen and (max-width: 850px) and (max-height: 465px){
	.normal {
		padding-bottom: 10%;
		width: 10%;
	}
	.game-board.activeN {
	 width: 100%;
	}
	.game-board.activeH {
	 width: 88%;
	}
}
@media screen and (max-width: 850px) and (max-height: 445px){

	.game-board.activeH {
	 width: 84%;
	}
}


@media screen and (max-width: 850px) and (max-height: 435px){

	.game-board.activeH {
	 width: 78%;
	}
}
@media screen and (max-width: 850px) and (max-height: 410px){

	.game-board.activeH {
	 width: 74%;
	}
}
@media screen and (max-width: 850px) and (max-height: 395px){
  .game-board.activeE {
   width: 100%;
  }
  .game-board.activeN {
   width: 94%;
  }
	.game-board.activeH {
	 width: 70%;
	}
}

@media screen and (max-width: 850px) and (max-height: 380px){
  .game-board.activeN {
   width: 90%;
  }
	.game-board.activeH {
	 width: 66%;
	}
}
@media screen and (max-width: 850px) and (max-height: 365px){

	.game-board.activeN {
	 width: 86%;
	}
	.game-board.activeH {
	 width: 62%;
	}
}
@media screen and (max-width: 850px) and (max-height: 355px){

	.game-board.activeN {
	 width: 82%;
	}
}
@media screen and (max-width: 850px) and (max-height: 340px){

	.game-board.activeN {
	 width: 78%;
	}
}
@media screen and (max-width: 850px) and (max-height: 345px){

	.game-board.activeH {
	 width: 58%;
	}
}
@media screen and (max-width: 850px) and (max-height: 330px){

	.game-board.activeN {
	 width: 74%;
	}
	.game-board.activeH {
	 width: 54%;
	}
}
@media screen and (max-width: 850px) and (max-height: 320px){

	.game-board.activeN {
	 width: 70%;
	}
}

@media screen and (max-width: 850px) and (max-height: 310px){

	.game-board.activeN {
	 width: 66%;
	}
	.game-board.activeH {
	 width: 50%;
	}
}
@media screen and (max-width: 850px) and (max-height: 300px){
  .game-board.activeE {
   width: 96%;
  }
	.game-board.activeN {
	 width: 62%;
	}
	.game-board.activeH {
	 width: 46%;
	}
}
@media screen and (max-width: 850px) and (max-height: 395px){
  .game-board.activeE {
   width: 92%;
  }
}
@media screen and (max-width: 850px) and (max-height: 285px){
  .game-board.activeE {
   width: 86%;
  }
	.game-board.activeN {
	 width: 58%;
	}
	.game-board.activeH {
	 width: 40%;
	}
}

@media screen and (max-width: 750px) and (max-height: 360px){
  .game-board.activeE {
   width: 100%;
  }
  .game-board.activeN {
   width: 96%;
  }
	.game-board.activeH {
	 width: 74%;
	}
}

@media screen and (max-width: 720px) and (max-height: 540px){
  .game-board.activeE {
   width: 70%;
  }
  .game-board.activeN {
   width: 94%;
  }
	.game-board.activeH {
	 width: 100%;
	}
}



@media screen and (max-width: 700px) and (max-height: 950px){

	.game-board.activeH {
	 width: 70%;
	}
}
@media screen and (max-width: 700px) and (max-height: 900px){

	.game-board.activeH {
	 width: 66%;
	}
}
@media screen and (max-width: 700px) and (max-height: 845px){
  .game-board.activeN {
	 width: 100%;
	}
	.game-board.activeH {
	 width: 62%;
	}
}
@media screen and (max-width: 700px) and (max-height: 800px){

	.game-board.activeH {
	 width: 56%;
	}
}
 @media screen and (max-width: 700px) and (max-height: 765px){

	.game-board.activeH {
	 width: 56%;
	}
}
@media screen and (max-width: 700px) and (max-height: 740px){

	.game-board.activeH {
	 width: 52%;
	}
}
@media screen and (max-width: 700px) and (max-height: 699px){

	.game-board.activeE {
	 width: 96%;
	}
}
@media screen and (max-width: 700px) and (max-height: 693px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 50%;
}
}
@media screen and (max-width: 700px) and (max-height: 670px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }
	.game-board.activeE {
	 width: 92%;
	}
  .game-board.activeH {
   width: 100%;
}
}
@media screen and (max-width: 700px) and (max-height: 645px){

	.game-board.activeE {
	 width: 88%;
	}
}

@media screen and (max-width: 700px) and (max-height: 620px){

	.game-board.activeE {
	 width: 84%;
	}
}
@media screen and (max-width: 700px) and (max-height: 600px){
  .easy {
  	padding-bottom: 20%;
  	width: 20%;
  }
	.game-board.activeE {
	 width: 80%;
	}
}
@media screen and (max-width: 700px) and (max-height: 575px){
	.game-board.activeE {
	 width: 76%;
	}
}
@media screen and (max-width: 700px) and (max-height: 545px){
	.game-board.activeE {
	 width: 74%;
	}
}
@media screen and (max-width: 700px) and (max-height: 530px){
	.game-board.activeN {
	 width: 94%;
	}
  .game-board.activeE {
	 width: 70%;
	}
}
@media screen and (max-width: 700px) and (max-height: 510px){
  .game-board.activeE {
   width: 66%;
  }
	.game-board.activeN {
	 width: 90%;
	}
}
@media screen and (max-width: 700px) and (max-height: 485px){
  .game-board.activeE {
   width: 62%;
  }
	.game-board.activeN {
	 width: 86%;
	}
}
@media screen and (max-width: 700px) and (max-height: 465px){
  .normal {
  	padding-bottom: 14%;
  	width: 14%;
  }
  .game-board.activeE {
   width: 58%;
  }
	.game-board.activeN {
	 width: 82%;
	}
}
@media screen and (max-width: 700px) and (max-height: 450px){
	.game-board.activeN {
	 width: 78%;
	}
}
@media screen and (max-width: 700px) and (max-height: 435px){
  .game-board.activeE {
   width: 54%;
  }
	.game-board.activeN {
	 width: 74%;
	}
  .game-board.activeH {
	 width: 96%;
	}
}
@media screen and (max-width: 700px) and (max-height: 415px){
  .easy {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .normal {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .game-board.activeE {
   width: 100%;
  }
	.game-board.activeN {
	 width: 100%;
	}
  .game-board.activeH {
	 width: 92%;
	}
}
@media screen and (max-width: 700px) and (max-height: 400px){
  .game-board.activeH {
	 width: 88%;
	}
}
@media screen and (max-width: 700px) and (max-height: 385px){
  .game-board.activeH {
	 width: 84%;
	}
}
@media screen and (max-width: 700px) and (max-height: 370px){
  .game-board.activeH {
	 width: 80%;
	}
}
@media screen and (max-width: 700px) and (max-height: 355px){
  .game-board.activeH {
	 width: 76%;
	}
}
@media screen and (max-width: 700px) and (max-height: 345px){
	.game-board.activeN {
	 width: 96%;
	}
  .game-board.activeH {
	 width: 72%;
	}
}
@media screen and (max-width: 700px) and (max-height: 335px){
	.game-board.activeN {
	 width: 92%;
	}
  .game-board.activeH {
	 width: 68%;
	}
}
@media screen and (max-width: 700px) and (max-height: 320px){
	.game-board.activeN {
	 width: 86%;
	}
  .game-board.activeH {
	 width: 64%;
	}
}
@media screen and (max-width: 700px) and (max-height: 310px){
	.game-board.activeN {
	 width: 80%;
	}
  .game-board.activeH {
   width: 60%;
  }
}
@media screen and (max-width: 700px) and (max-height: 295px){
	.game-board.activeN {
	 width: 74%;
	}
  .game-board.activeH {
	 width: 54%;
	}
}


/* ////650 */
/* @media screen and (max-width: 650px) and (max-height: 715px){

	.game-board.activeN {
	 width: 100%;
	}
} */

@media screen and (max-width: 655px) and (max-height: 280px){

	.game-board.activeH {
	 width: 58%;
	}
}

@media screen and (max-width: 650px) and (max-height: 900px){

	.game-board.activeH {
	 width: 74%;
	}
}
@media screen and (max-width: 650px) and (max-height: 880px){

	.game-board.activeH {
	 width: 70%;
	}
}
@media screen and (max-width: 650px) and (max-height: 835px){

	.game-board.activeH {
	 width: 66%;
	}
}
@media screen and (max-width: 650px) and (max-height: 780px){

	.game-board.activeH {
	 width: 62%;
	}
}
@media screen and (max-width: 650px) and (max-height: 740px){
  .hard {
    padding-bottom: 20%;
    width: 20%;
  }

  .game-board.activeH {
   width: 60%;
  }
}

@media screen and (max-width: 650px) and (max-height: 720px){

  .game-board.activeH {
   width: 58%;
  }
}
@media screen and (max-width: 650px) and (max-height: 700px){

  .game-board.activeH {
   width: 56%;
  }
}
@media screen and (max-width: 650px) and (max-height: 680px){

  .game-board.activeH {
   width: 54%;
  }
}
@media screen and (max-width: 650px) and (max-height: 650px){

  .game-board.activeH {
   width: 52%;
  }
}

@media screen and (max-width: 650px) and (max-height: 625px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }

	.game-board.activeN {
	 width: 100%;
	}
  .game-board.activeH {
   width: 100%;
  }
}

@media screen and (max-width: 650px) and (max-height: 495px){

	.game-board.activeN {
	 width: 96%;
	}
}
@media screen and (max-width: 650px) and (max-height: 475px){

	.game-board.activeN {
	 width: 92%;
	}
}
@media screen and (max-width: 650px) and (max-height: 465px){
	.normal {
		padding-bottom: 14%;
		width: 14%;
	}
	.game-board.activeN {
	 width: 92%;
	}
}
@media screen and (max-width: 650px) and (max-height: 460px){

	.game-board.activeN {
	 width: 88%;
	}
}
@media screen and (max-width: 650px) and (max-height: 445px){

	.game-board.activeN {
	 width: 84%;
	}
}
@media screen and (max-width: 650px) and (max-height: 425px){

	.game-board.activeN {
	 width: 80%;
	}
}
@media screen and (max-width: 650px) and (max-height: 410px){
	.normal {
		padding-bottom: 10%;
		width: 10%;
		font-size: 2rem;
	}

	.game-board.activeN {
	 width: 100%;
	}
}
@media screen and (max-width: 650px) and (max-height: 395px){
	.game-board.activeH {
	 width: 96%;
	}
}
@media screen and (max-width: 650px) and (max-height: 380px){
	.game-board.activeH {
	 width: 92%;
	}
}
@media screen and (max-width: 650px) and (max-height: 370px){
	.game-board.activeH {
	 width: 88%;
	}
}
@media screen and (max-width: 650px) and (max-height: 360px){
	.game-board.activeH {
	 width: 84%;
	}
}
@media screen and (max-width: 650px) and (max-height: 350px){
	.game-board.activeH {
	 width: 80%;
	}
}
@media screen and (max-width: 650px) and (max-height: 340px){
	.game-board.activeH {
	 width: 76%;
	}
}
@media screen and (max-width: 650px) and (max-height: 320px){
	.game-board.activeN {
	 width: 96%;
	}
}
@media screen and (max-width: 650px) and (max-height: 310px){
	.game-board.activeN {
	 width: 92%;
	}
}
@media screen and (max-width: 650px) and (max-height: 300px){
	.game-board.activeN {
	 width: 88%;
	}
}
@media screen and (max-width: 650px) and (max-height: 290px){
	.game-board.activeN {
	 width: 84%;
	}
}
@media screen and (max-width: 650px) and (max-height: 280px){
	.game-board.activeN {
	 width: 80%;
	}
}


/* ///////W 600 */
@media screen and (max-width: 600px) and (max-height: 1000px){
	.game-board.activeH {
	 width: 86%;
	}
}
@media screen and (max-width: 600px) and (max-height: 945px){
	.game-board.activeH {
	 width: 82%;
	}
}
@media screen and (max-width: 600px) and (max-height: 905px){
	.game-board.activeH {
	 width: 78%;
	}
}
@media screen and (max-width: 600px) and (max-height: 860px){
	.game-board.activeH {
	 width: 74%;
	}
}
@media screen and (max-width: 600px) and (max-height: 820px){
	.game-board.activeH {
	 width: 70%;
	}
}
@media screen and (max-width: 600px) and (max-height: 775px){
	.game-board.activeH {
	 width: 66%;
	}
}
@media screen and (max-width: 600px) and (max-height: 735px){
	.game-board.activeH {
	 width: 62%;
	}
}
@media screen and (max-width: 600px) and (max-height: 695px){
	.game-board.activeH {
	 width: 58%;
	}
}
@media screen and (max-width: 600px) and (max-height: 650px){
	.game-board.activeH {
	 width: 54%;
	}
}
@media screen and (max-width: 600px) and (max-height: 610px){
	.hard {
		padding-bottom: 10%;
		width: 10%;
	}
	.game-board.activeH {
	 width: 100%;
	}
}


@media screen and (max-width: 580px) and (max-height: 800px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 74%;
  }
}
@media screen and (max-width: 580px) and (max-height: 770px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 70%;
  }
}
@media screen and (max-width: 580px) and (max-height: 735px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 66%;
  }
}
@media screen and (max-width: 580px) and (max-height: 695px){
  .game-board.activeH {
   width: 62%;
  }
}
@media screen and (max-width: 580px) and (max-height: 650px){
  .game-board.activeH {
   width: 58%;
  }
}
@media screen and (max-width: 580px) and (max-height: 610px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .game-board.activeH {
   width: 100%;
  }
}
@media screen and (max-width: 580px) and (max-height: 345px){
  .game-board.activeH {
   width: 96%;
  }
}
@media screen and (max-width: 580px) and (max-height: 335px){
  .game-board.activeH {
   width: 92%;
  }
}
@media screen and (max-width: 580px) and (max-height: 320px){
  .game-board.activeH {
   width: 88%;
  }
}
@media screen and (max-width: 580px) and (max-height: 310px){
  .game-board.activeH {
   width: 84%;
  }
}
@media screen and (max-width: 580px) and (max-height: 300px){
  .game-board.activeH {
   width: 80%;
  }
}
@media screen and (max-width: 580px) and (max-height: 290px){
  .game-board.activeH {
   width: 76%;
  }
}
@media screen and (max-width: 580px) and (max-height: 280px){
  .game-board.activeH {
   width: 72%;
  }
}

@media screen and (max-width: 540px) and (max-height: 720px){
	.game-board.activeE {
	 width: 100%;
	}
}


/* ///////W 530 */

@media screen and (max-width: 530px) and (max-height: 1000px){
	.hard {
		padding-bottom: 20%;
		width: 20%;
	}
	.game-board.activeH {
	 width: 96%;
	}
}
@media screen and (max-width: 530px) and (max-height: 920px){
	.game-board.activeH {
	 width: 92%;
	}
}
@media screen and (max-width: 530px) and (max-height: 880px){
	.game-board.activeH {
	 width: 88%;
	}
}
@media screen and (max-width: 530px) and (max-height: 845px){
	.game-board.activeH {
	 width: 84%;
	}
}
@media screen and (max-width: 530px) and (max-height: 810px){
	.game-board.activeH {
	 width: 80%;
	}
}
@media screen and (max-width: 530px) and (max-height: 770px){
	.game-board.activeH {
	 width: 76%;
	}
}
@media screen and (max-width: 530px) and (max-height: 735px){
	.game-board.activeH {
	 width: 72%;
	}
}
@media screen and (max-width: 530px) and (max-height: 700px){
	.game-board.activeH {
	 width: 68%;
	}
}
@media screen and (max-width: 530px) and (max-height: 660px){
	.game-board.activeH {
	 width: 64%;
	}
}
@media screen and (max-width: 530px) and (max-height: 625px){
	.game-board.activeH {
	 width: 60%;
	}
}
@media screen and (max-width: 530px) and (max-height: 585px){
	.hard {
		padding-bottom: 10%;
		width: 10%;
	}
	.game-board.activeH {
	 width: 100%;
	}
}


@media screen and (max-width: 500px) and (max-height: 1000px){
  .game-board.activeH {
   width: 92%;
  }
}

@media screen and (max-width: 500px) and (max-height: 800px){
  .game-board.activeH {
   width: 86%;
  }
}
@media screen and (max-width: 500px) and (max-height: 780px){
  .game-board.activeH {
   width: 82%;
  }
}
@media screen and (max-width: 500px) and (max-height: 745px){
  .game-board.activeH {
   width: 78%;
  }
}
@media screen and (max-width: 500px) and (max-height: 710px){
  .game-board.activeH {
   width: 74%;
  }
}
@media screen and (max-width: 500px) and (max-height: 675px){
  .game-board.activeH {
   width: 70%;
  }
}
@media screen and (max-width: 500px) and (max-height: 640px){
  .game-board.activeH {
   width: 66%;
  }
}
@media screen and (max-width: 500px) and (max-height: 610px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 62%;
  }
}
@media screen and (max-width: 500px) and (max-height: 570px){
  .game-board.activeH {
   width: 58%;
  }
}
@media screen and (max-width: 500px) and (max-height: 535px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .game-board.activeH {
   width: 100%;
  }
}
@media screen and (max-width: 500px) and (max-height: 300px){
  .game-board.activeH {
   width: 96%;
  }
}
@media screen and (max-width: 500px) and (max-height: 290px){
  .game-board.activeH {
   width: 92%;
  }
}
@media screen and (max-width: 500px) and (max-height: 280px){
  .game-board.activeH {
   width: 88%;
  }
}


/* ///////W 440 */
@media screen and (max-width: 440px) and (max-height: 1000px){

	.game-board.activeH {
	 width: 100%;
	}
}


 @media screen and (max-width: 440px) and (max-height: 930px){

	 .game-board.activeN {
	 	width: 80%;
	 }
}
 @media screen and (max-width: 440px) and (max-height: 910px){

	 .game-board.activeN {
	 	width: 76%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 865px){

	 .game-board.activeN {
	 	width: 74%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 840px){

	.game-board.activeN {
	 width: 72%;
	}
 }



 @media screen and (max-width: 440px) and (max-height: 820px){

	.game-board.activeN {
	 width: 70%;
	}
 }
 @media screen and (max-width: 440px) and (max-height: 800px){

	.game-board.activeH {
	 width: 96%;
	 }
 }

 @media screen and (max-width: 440px) and (max-height: 795px){

	 .game-board.activeN {
  	width: 100%;
   }

   .normal {
  	padding-bottom: 20%;
  	width: 20%;
  	font-size: 3rem;
   }
 }
 @media screen and (max-width: 440px) and (max-height: 765px){

	.game-board.activeH {
	 width: 92%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 735px){

	 .game-board.activeH {
  	width: 88%;
   }
 }
 @media screen and (max-width: 440px) and (max-height: 705px){

	 .game-board.activeH {
  	width: 84%;
   }
 }
 @media screen and (max-width: 440px) and (max-height: 675px){

	.game-board.activeH {
	 width: 80%;
	 }
 }

 @media screen and (max-width: 440px) and (max-height: 670px){

	 .game-board.activeE {
	 	width: 100%;
	 }

	 .easy {
	 	padding-bottom: 20%;
	 	width: 20%;
	 	font-size: 3rem;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 645px){

	.game-board.activeH {
	 width: 76%;
	 }
 }

 @media screen and (max-width: 440px) and (max-height: 630px){

	 .game-board.activeN {
  	width: 96%;
   }
 }
 @media screen and (max-width: 440px) and (max-height: 615px){

	.game-board.activeH {
	 width: 72%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 595px){

	.game-board.activeN {
	 width: 92%;
	 }

	 .game-board.activeH {
 	 width: 68%;
 	 }
 }
 @media screen and (max-width: 440px) and (max-height: 585px){
	 .hard {
	 	padding-bottom: 20%;
	 	width: 20%;
	 }
	.game-board.activeH {
	width: 64%;
	}
 }
 @media screen and (max-width: 440px) and (max-height: 575px){

	.game-board.activeN {
	 width: 88%;
	 }
 }

 @media screen and (max-width: 440px) and (max-height: 550px){

	.game-board.activeN {
	 width: 84%;
	 }
 }


 @media screen and (max-width: 440px) and (max-height: 530px){

	.game-board.activeN {
	 width: 80%;
	 }
 }

@media screen and (max-width: 440px) and (max-height: 525px){
  .hard {
 padding-bottom: 10%;
 width: 10%;
}
 .game-board.activeH {
 width: 100%;
 }
}


 @media screen and (max-width: 440px) and (max-height: 510px){

	 .normal {
	 	padding-bottom: 14%;
	 	width: 14%;
	 }

	.game-board.activeN {
	 width: 100%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 445px){

	.game-board.activeE {
	 width: 96%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 425px){

	.game-board.activeE {
	 width: 92%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 410px){

	.game-board.activeE {
	 width: 88%;
	 }
 }
 @media screen and (max-width: 440px) and (max-height: 390px){

 .game-board.activeE {
	width: 84%;
	}
 }
 @media screen and (max-width: 440px) and (max-height: 375px){

 .game-board.activeE {
	width: 80%;
	}
 }
 @media screen and (max-width: 440px) and (max-height: 360px){

 .game-board.activeE {
	width: 76%;
	}
 }
 @media screen and (max-width: 440px) and (max-height: 345px){

 .game-board.activeE {
	width: 72%;
	}
 }

@media screen and (max-width: 400px) and (max-height: 1000px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 100%;
  }
}
@media screen and (max-width: 400px) and (max-height: 760px){
  .game-board.activeH {
   width: 96%;
  }
}
@media screen and (max-width: 400px) and (max-height: 735px){
  .game-board.activeH {
   width: 92%;
  }
}
@media screen and (max-width: 400px) and (max-height: 710px){
  .game-board.activeH {
   width: 88%;
  }
}
@media screen and (max-width: 400px) and (max-height: 680px){
  .game-board.activeH {
   width: 84%;
  }
}
@media screen and (max-width: 400px) and (max-height: 650px){
  .game-board.activeH {
   width: 80%;
  }
}
@media screen and (max-width: 400px) and (max-height: 620px){
  .game-board.activeH {
   width: 76%;
  }
}
@media screen and (max-width: 400px) and (max-height: 595px){
  .game-board.activeH {
   width: 72%;
  }
}
@media screen and (max-width: 400px) and (max-height: 565px){
  .game-board.activeH {
   width: 68%;
  }
}
@media screen and (max-width: 400px) and (max-height: 540px){
  .game-board.activeH {
   width: 64%;
  }
}
@media screen and (max-width: 400px) and (max-height: 510px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .game-board.activeH {
   width: 100%;
  }
}
@media screen and (max-width: 375px) and (max-height: 1000px){
  .game-board.activeH {
   width: 100%;
  }
}
@media screen and (max-width: 375px) and (max-height: 735px){
  .game-board.activeH {
   width: 96%;
  }
}


@media screen and (max-width: 375px) and (max-height: 710px){
  .game-board.activeH {
   width: 92%;
  }
}
@media screen and (max-width: 375px) and (max-height: 680px){
  .game-board.activeH {
   width: 88%;
  }
}
@media screen and (max-width: 375px) and (max-height: 655px){
  .game-board.activeH {
   width: 84%;
  }
}
@media screen and (max-width: 375px) and (max-height: 630px){
  .game-board.activeH {
   width: 80%;
  }
}
@media screen and (max-width: 375px) and (max-height: 605px){
  .game-board.activeH {
   width: 76%;
  }
}
@media screen and (max-width: 375px) and (max-height: 575px){
  .game-board.activeH {
   width: 72%;
  }
}
@media screen and (max-width: 375px) and (max-height: 550px){
  .game-board.activeH {
   width: 68%;
  }
}
@media screen and (max-width: 375px) and (max-height: 525px){
  .game-board.activeH {
   width: 64%;
  }
}
@media screen and (max-width: 375px) and (max-height: 510px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 64%;
  }
}
@media screen and (max-width: 375px) and (max-height: 495px){

  .game-board.activeH {
   width: 60%;
  }
}
@media screen and (max-width: 375px) and (max-height: 470px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .game-board.activeH {
   width: 100%;
  }
}
@media screen and (max-width: 375px) and (max-height: 445px){

  .game-board.activeH {
   width: 100%;
  }
}


@media screen and (max-width: 360px) and (max-height: 740px){

  .game-board.activeE {
   width: 100%;
  }
}


@media screen and (max-width: 350px) and (max-height: 680px){
  .game-board.activeH {
   width: 96%;
  }
}
@media screen and (max-width: 350px) and (max-height: 655px){
  .game-board.activeH {
   width: 92%;
  }
}
@media screen and (max-width: 350px) and (max-height: 630px){
  .game-board.activeH {
   width: 88%;
  }
}
@media screen and (max-width: 350px) and (max-height: 610px){
  .game-board.activeH {
   width: 84%;
  }
}
@media screen and (max-width: 350px) and (max-height: 580px){
  .game-board.activeH {
   width: 80%;
  }
}
@media screen and (max-width: 350px) and (max-height: 560px){
  .game-board.activeH {
   width: 76%;
  }
}
@media screen and (max-width: 350px) and (max-height: 535px){
  .game-board.activeH {
   width: 72%;
  }
}
@media screen and (max-width: 350px) and (max-height: 510px){
  .hard {
  	padding-bottom: 20%;
  	width: 20%;
  }
  .game-board.activeH {
   width: 70%;
  }
}
@media screen and (max-width: 350px) and (max-height: 495px){
  .game-board.activeH {
   width: 66%;
  }
}
@media screen and (max-width: 350px) and (max-height: 470px){
  .hard {
  	padding-bottom: 10%;
  	width: 10%;
  }
  .game-board.activeH {
   width: 100%;
  }
}


/* ///////////// */

/* //////W 320 */

@media screen and (max-width: 320px) and (max-height: 1000px){

 .game-board.activeN {
	width: 100%;
 }
.game-board.activeH {
 width: 100%;
}
}
@media screen and (max-width: 320px) and (max-height:870px){

 .game-board.activeN {
	width: 96%;
 }
 .game-board.activeH {
  width: 100%;
 }
}


@media screen and (max-width: 320px) and (max-height: 840px){

.game-board.activeE {
width: 71%;
}
.game-board.activeN {
 width: 92%;
}
.game-board.activeH {
 width: 100%;
}
}
@media screen and (max-width: 320px) and (max-height: 800px){

.game-board.activeE {
width: 67%;
}
.game-board.activeN {
 width: 88%;
}
}
@media screen and (max-width: 320px) and (max-height: 795px){
	.normal {
	 padding-bottom: 30%;
	 width: 30%;
}
.game-board.activeN {
width: 88%;
}
}
@media screen and (max-width: 320px) and (max-height: 770px){

.game-board.activeN {
width: 84%;
}
}
@media screen and (max-width: 320px) and (max-height: 770px){

.game-board.activeN {
width: 84%;
}
}

@media screen and (max-width: 320px) and (max-height: 740px){

.game-board.activeE {
width: 63%;
}
.game-board.activeN {
width: 80%;
}
}
@media screen and (max-width: 320px) and (max-height: 705px){

.game-board.activeE {
width: 59%;
}
.game-board.activeN {
width: 76%;
}
}
@media screen and (max-width: 320px) and (max-height: 670px){

	.game-board.activeE {
	 width: 100%;
	}
	.easy {
	 padding-bottom: 20%;
	 width: 20%;
	}
	.normal {
	 padding-bottom: 20%;
	 width: 20%;
	}
	.game-board.activeN {
	width: 100%;
	}
}
@media screen and (max-width: 320px) and (max-height: 625px){

	.game-board.activeH {
	width: 96%;
	}
}
@media screen and (max-width: 320px) and (max-height: 600px){

	.game-board.activeH {
	width: 92%;
	}
}
@media screen and (max-width: 320px) and (max-height: 580px){

	.game-board.activeH {
	width: 88%;
	}
}
@media screen and (max-width: 320px) and (max-height: 555px){

	.game-board.activeH {
	width: 84%;
	}
}
@media screen and (max-width: 320px) and (max-height: 535px){

	.game-board.activeH {
	width: 80%;
	}
}
@media screen and (max-width: 320px) and (max-height: 525px){
	.hard {
		padding-bottom: 20%;
		width: 20%;
	}
	.game-board.activeH {
	width: 80%;
	}
}
@media screen and (max-width: 320px) and (max-height: 510px){
	.game-board.activeH {
	width: 76%;
	}
}
@media screen and (max-width: 320px) and (max-height: 500px){

	.game-board.activeN {
	width: 96%;
	}
}
@media screen and (max-width: 320px) and (max-height: 490px){
	.game-board.activeH {
	width: 72%;
	}
}
@media screen and (max-width: 320px) and (max-height: 480px){

	.game-board.activeN {
	width: 92%;
	}
}
@media screen and (max-width: 320px) and (max-height: 465px){

	.game-board.activeN {
	width: 88%;
	}
}
@media screen and (max-width: 320px) and (max-height: 445px){

	.game-board.activeN {
	width: 84%;
	}
}
@media screen and (max-width: 320px) and (max-height: 430px){

	.game-board.activeN {
	width: 80%;
	}
}



/* @media screen and (max-height: 460px) and (max-width: 1000px){
	.game-board.activeN {
	width: 100%;
	}
	.game-board.activeH {
	width: 100%;
	}
} */








/* END*/
