@font-face {
	font-family: 'NHG_Bd';
	src: url(../font/NHaasGroteskTXPro-75Bd.ttf);
	font-style: normal;
	font-weight: 100;
}


@font-face {
	font-family: 'NHG_Md';
	src: url(../font/NHaasGroteskTXPro-65Md.ttf);
	font-style: normal;
	font-weight: 100;
}

  /* ////HIGHSCORE */


.highScore {
	  visibility: hidden;
		display:flex;
		margin: 0 auto;
		width: 100%;
		height: 100vh;
	  background-color: white;
		position: fixed;
		top: 0;
		right: 0;
		 z-index: 500;
		 user-select: none;
		 /* top: 0;
	  left: 0; */
		transform: translateX(-100%);

	}
	.highScore.active {
		visibility: visible;
		 transform: translateX(0)
		}

	.HSlists {
		display:flex;
		flex-flow: column nowrap;
		width: 100%;
		margin: 1vh auto;
	}

	.highScoreName{
		color: #0077C0;
		border: none;
    text-align: center;
		font-size: 22px;
		font-family: NHG_Bd;
		font-weight: 100;
		text-decoration: none;
		text-transform: uppercase;
	}

	.top3 {
		display:flex;
		flex-flow: column nowrap;
		width: 100%;
		overflow: auto;
		padding-top: 2vh;
	}

}
.top3::-webkit-scrollbar {
	width: 15px;
}
.top3::-webkit-scrollbar-track {
	background: #f0f5fd;
	margin-block: 20px;
}
.top3::-webkit-scrollbar-thumb {
	background: #545454;
	border-radius: 10px;
}


	.closeHS {
		border: none;
		font-size: 20px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		margin: 10px 20px;
		z-index: 501;
	}



	.highScore p {
	 display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: -1vh 0;
	padding:  0;
	font-size: 15px;
	font-family: NHG_Bd;
	font-weight: 100;
	text-decoration: none;
 }

   .highScore ul {
    color: #545454;
		display: flex;
 	  flex-flow: row nowrap;
		justify-content: center;
		width: 100%;
		list-style-type: none;
    background: linear-gradient(90deg, white, #F5F5F5 40%);

 		font-family: NHG_Bd;
 		font-weight: 100;
 		text-decoration: none;
		line-height: 1.8;
	 }

	 .highScore ul li {
	   margin: 1em .35em;
		 font-size: 14px;
		 font-family: NHG_Md;
	 }

	 .highScoreB {
	 	cursor: pointer;
	 }


	.easyTime1text, .easyMoves1text, .easyName1text,
	.normalTime1text, .normalMoves1text, .normalName1text,
	.hardTime1text, .hardMoves1text, .hardName1text {
		color: #0077C0;
	}
/* ///HS end */

@media screen and (max-height: 600px) and (orientation:landscape) {
	.top3 {
		padding-top: 1.6vh;
	}
	.highScoreName{
    font-size: 18px;
	}
.highScore p {
	font-size: 13px;
 }
.highScore ul li {
		 font-size: 12px;
	 }
}
@media screen and (max-width: 480px) and (orientation:portrait) {
	.top3 {
		padding-top: 1.4vh;
	}
	.highScoreName{
    font-size: 16px;
	}
.highScore p {
	font-size: 11px;
 }
.highScore ul li {
		 font-size: 10px;
	 }
}
@media screen and (max-width: 280px) and (orientation:portrait) {
	.top3 {
		padding-top: 1vh;
	}
	.highScoreName{
    font-size: 14px;
	}
.highScore p {
	font-size: 10px;
 }
.highScore ul li {
		 font-size: 9px;
	 }
}
