@media screen and (orientation: portrait) {
	.container {
	  flex-direction: column;
  }

  .leftside{
  	background: #0077C0;
  	align-items: flex-end;
    justify-content: center;
    padding-right: 0;
		width: 100%;
  }

  .rightside {
  	background: white;
  	align-items: flex-start;
  	justify-content: center;
    width: 100%;
    padding-left: 0;
		padding-top: 10px;
  }

  .list {
    justify-content: center;
    text-align: left;
		padding-bottom: 0em;
  }


	.langBar {
    
		margin-top: 6px;
	  margin-left: 0px;
	  margin-bottom: 0px;

	}

	}

 @media screen and (max-width: 760px) and (orientation: landscape) {
  .UMG {
    width: 240px;
    font-size: 1.8em;
  }
  .list {
    width: 240px;
    /* padding-bottom: 30px; */
    font-size: 2.8em;
    letter-spacing: 1px;
  }
  .list a{
    outline: #545454 solid 5px;
		width: 85px;
	  height: 70px;
	  margin: auto;
	  padding-top: 7.5px;
  }

	.mUp {
	  height: 90px;
	}
	.mDown {
	  height: 90px;
	}

}

@media screen and (max-width: 620px) and (orientation: landscape) {
  .UMG {
    width: 175px;
    font-size: 1.4em;
  }
  .list {
    width: 175px;
    /* padding-bottom: 24px; */
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .list a{
    outline: #545454 solid 4px;
		width: 70px;
	  height: 55px;
	  margin: auto;
	  padding-top: 6.5px;
  }

	.mUp {
		height: 80px;
	}
	.mDown {
		height: 80px;
	}

}

 @media screen and (max-width: 520px) and (orientation: portrait) {
	 .UMG {
	 	width: 220px;
	 	font-size: 1.7em;
	 }
	 .list {
	 	width: 220px;
	 	padding-bottom: 30px;
	 	font-size: 2.8em;
	 	letter-spacing: 1px;
	 }
	 .list a{
	 	outline: #545454 solid 5px;
		width: 85px;
		height: 70px;
		margin: auto;
		padding-top: 6.5px;
	 }

	 .mUp {
 		height: 90px;
 	}
 	.mDown {
 		height: 90px;
 	}
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .UMG {
    width: 175px;
    font-size: 1.4em;
  }
  .list {
    width: 175px;
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .list a{
		outline: #545454 solid 4px;
		width: 70px;
	  height: 55px;
	  margin: auto;
	  padding-top: 6px;
  }

	.mUp {
		height: 80px;
	}
	.mDown {
		height: 80px;
	}
}
