@media screen and (orientation: portrait) {
	.container {
	  flex-direction: column;
  }

  .leftside{
  	background: #0077C0;
  	align-items: flex-end;
    justify-content: center;
    padding-right: 0;
  }

  .rightside {
  	background: white;
  	align-items: flex-start;
  	justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .list {
    justify-content: center;
    text-align: left;
  }

	}

 @media screen and (max-width: 760px) and (orientation: landscape) {
  .UMG {
    width: 200px;
    font-size: 1.8em;
  }
  .list {
    width: 200px;
    padding-bottom: 30px;
    font-size: 1.7em;
    letter-spacing: 1px;
  }
  .list a{
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 620px) and (orientation: landscape) {
  .UMG {
    width: 175px;
    font-size: 1.4em;
  }
  .list {
    width: 175px;
    padding-bottom: 24px;
    font-size: 1.3em;
    letter-spacing: 1px;
  }
  .list a{
    margin: 8px 0 0 0;
  }
}

 @media screen and (max-width: 520px) and (orientation: portrait) {
	 .UMG {
	 	width: 220px;
	 	font-size: 1.7em;
	 }
	 .list {
	 	width: 220px;
	 	padding-bottom: 30px;
	 	font-size: 1.6em;
	 	letter-spacing: 1px;
	 }
	 .list a{
	 	margin: 10px 0 0 0;
	 }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .UMG {
    width: 175px;
    font-size: 1.4em;
  }
  .list {
    width: 175px;
    padding-bottom: 24px;
    font-size: 1.3em;
    letter-spacing: 1px;
  }
  .list a{
    margin: 8px 0 0 0;
  }
}
