@font-face {
	font-family: 'NHG_Bd';
	src: url(../font/NHaasGroteskTXPro-75Bd.ttf);
	font-style: normal;
	font-weight: 100;
}


nav {
	background-color: none;
	display: flex;
	/* flex: wrap; */
  width: 5.5em;
	position: fixed;

	height: 100vh;
	transform: translateX(-100%);
	z-index: 2;
	user-select: none;
}

nav.active {
	transform: translateX(0);
	background-color: rgba(255, 255, 255, .85);
	height: 100vh;
}

nav a {
	visibility: hidden;
	color: #0077C0;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase;
}

nav.active a {
	visibility: visible;
}

.list {
  width: 100%;
	height: 100vh;
  display: flex;
  flex-direction: column;
  color: #0077C0;
  margin-top: .75em;

  background-color: none;
  text-align: center;
  font-size: 2.5em;
}

 .list.active  a {
 visibility: hidden;
}

.list a {
  outline: #545454 solid 4px;
  border-radius: 10px;
	background-color: white;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  padding-top: 4px;
}



.list i{
text-align: center;
}

.fa-language {
  font-size: 1.2em;
}

.list i:hover {
	color: #E4032E;
}


.langBar {
	background-color: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: NHG_Bd;
	padding-top: 50%;
  width: 5.5em;

	position: fixed;

	height: 100vh;
	transform: translateX(-100%);
	z-index: 1;
	user-select: none;
}

.langBar.active {
	transform: translateX(0);
	/* background-color: rgba(255, 255, 255, .7); */
	height: 100vh;
}


.langBar p {
	visibility: hidden;
	color: #0077C0;
	background-color: white;
	font-weight: 100;
	font-size: 1.4em;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;

	outline: #545454 solid 4px;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  margin: 10px auto;
  padding-top: 4px;
	text-align: center;
}

.langBar.active p {
	visibility: visible;
}



.slo.red  {
	color: #E4032E;
	cursor: default;
	pointer-events: none;
}

.eng.red  {
	color: #E4032E;
	cursor: default;
	pointer-events: none;
}

.srb.red  {
	color: #E4032E;
	cursor: default;
	pointer-events: none;
}


.langBar p:hover {
	color: #E4032E;
}



button {
	z-index: 100;
}

.toggle {
	border: none;
	font-size: 20px;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	cursor: pointer;
}

.toggle.freez {
	pointer-events: none;
}

.toggle .fa-bars {
	display: block;
}

.toggle .fa-times {
	display: none;
}

nav.active .toggle .fa-bars {
	display: none;
}

nav.active .toggle .fa-times {
	display: block;
}


/* MQ////////////////////////////////MQ */

@media screen and (max-height: 450px) {

	nav {
	  width: 4.5em;
	}

	.langBar {
	  width: 4.5em;
}
	.list {
		margin-top: 1em;
	  font-size: 2em;
	}

	.list a {
	  outline: #545454 solid 4px;
	  width: 50px;
	  height: 50px;
	  margin: 10px auto;
	  padding-top: 4px;
	}

	.fa-language {
	  font-size: 1.2em;
	}



}


@media screen and (max-height: 340px) {

	nav {
	  width: 4.5em;
	}

	.langBar {
		width: 4.5em;
}

	.list {
		margin-top: .75em;
	  font-size: 1.6em;
	}

	.list a {
	  outline: #545454 solid 4px;
	  width: 45px;
	  height: 35px;
	  margin: 10px auto;
		padding-top: 2px;
	}

	.fa-language {
	  font-size: 1.2em;
	}
}

@media screen and (max-width: 340px) {

	nav {
	  width: 4.5em;
	}

	.langBar {
		width: 4.5em;
}

	.list {
		margin-top: .75em;
	  font-size: 1.6em;
	}

	.list a {
	  outline: #545454 solid 4px;
	  width: 45px;
	  height: 35px;
	  margin: 10px auto;
		padding-top: 2px;
	}

	.fa-language {
	  font-size: 1.2em;
	}

	.langBar p {
		visibility: hidden;
		color: #0077C0;
		background-color: white;
		font-weight: 100;
		font-size: 1.2em;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		outline: #545454 solid 4px;
	  border-radius: 10px;
	  width: 50px;
	  height: 30px;
	  margin: 10px auto;
	  padding-top: 4px;
		text-align: center;
	}
}
