
/* @media screen styles */



@media screen and (max-width: 800px) {

  .description {
  width: 100%;
  height: 250px;
  font-size: 14px;
  }

  .displayImage{
 	 width: 250px;
 	 border-radius: 8%;
  }

  .right {
 	align-items: center;
 	justify-content: center;
  }

  .left {
 	 width: 250px;
  }

	.container {
		height: 8em;
		width: 90%;

	}

	.image {
		width: 5em;
	}

 }


	@media screen and (max-width: 580px) {

    .description {
    width: 100%;
    height: 150px;
    font-size: 14px;
    }

    .displayImage{
   	 width: 150px;
   	 border-radius: 8%;
    }

    .right {
   	align-items: center;
   	justify-content: center;
    }

    .left {
   	 width: 150px;
    }

		.container {
 		 height: 12em;
 		 width: 90%;
		 margin-top: 20px;
 	 }

   }

@media screen and (max-width: 800px) and (orientation:portrait) {

 .mainContainer{
	 background: #0077C0;
	 padding-top: 3em;
	 margin: auto;
	 width: 100%
 }

 .display {
	 display: flex;
	flex-direction: column-reverse;
 }

 .description {
 width: 100%;
 height: 300px;
 font-size: 14px;
 }

 .displayImage{
	 width: 300px;
	 border-radius: 8%;
 }

 .right {
	align-items: center;
	justify-content: center;
	padding-left: 0px;
	margin-bottom: 40px;
 }

 .left {
	 width: 300px;
 }

 .container {
	 height: 12em;
	 width: 90%;

 }

 .image {
	 width: 8em;
 }

 #empty p {
	visibility: hidden;
	margin-top: 100px;
 }

}

/* @media screen and (max-height: 580px) and (orientation:andscape) {


 .container {
	 height: 6em;
	 width: 90%;
	 margin-top: 200px;
	 padding-bottom: 0px;

 }

 .image {
	 width: 4em;
 }
} */




@media screen and (max-width: 800px) and (max-width: 600px) {

 .mainContainer{
	 background: #0077C0;
	 padding-top: 3em;
	 margin: auto;
	 width: 100%
 }

 .description {
 width: 100%;
 height: 220px;
 }

 .displayImage{
	 width: 220px;
	 border-radius: 8%;
 }

 .right {
	align-items: center;
	justify-content: center;
 }

 .left {
	 width: 220px;
 }

 .container {
	 height: 7em;
	 width: 90%;

 }

 .image {
	 width: 5em;
 }

 #empty p {
	visibility: hidden;
	margin-top: 100px;
 }

}

/* ////HEIGHT */




@media screen and (max-height: 800px) and (orientation:portrait) {


 .mainContainer{
	 padding-top: 3em;
 }

 .description {
 width: 100%;
 height: 200px;
 font-size: 14px;
 }

 .displayImage{
	 width: 200px;
	 border-radius: 8%;
 }

 .right {
	align-items: center;
	justify-content: center;
 }

 .left {
	 width: 200px;
 }

 .container {
	 height: 10em;
	 width: 90%;
 }

 .image {
	 width: 7em;
 }

 #empty p {
	 visibility: hidden;
	 margin-top: 200px;
 }
}

@media screen and (max-height: 650px) and (orientation:portrait) {


 .mainContainer{
	 padding-top: 2.5em;
 }

 .description {
 width: 100%;
 height: 200px;
 font-size: 14px;
 }

 .displayImage{
	 width: 200px;
	 border-radius: 8%;
 }

 .right {
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
 }

 .left {
	 width: 200px;
 }

 .container {
	 height: 7em;
	 width: 90%;
	 margin-top: 20px;
 }

 .image {
	 width: 5em;
 }

 #empty p {
	 visibility: hidden;
	 margin-top: 200px;
 }
}

@media screen and (max-height: 600px) and (orientation:portrait) {


 .mainContainer{
	 padding-top: 2.5em;
 }

 .description {
 width: 100%;
 height: 180px;
 font-size: 14px;
 }

 .displayImage{
	 width: 180px;
	 border-radius: 8%;
 }

 .right {
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
 }

 .left {
	 width: 180px;
 }

 .container {
	 height: 6em;
	 width: 90%;
	 margin-top: 10px;
 }

 .image {
	 width: 3em;
 }

 #empty p {
	 visibility: hidden;
	 margin-top: 200px;
 }
}



/* RES 667 x 375 */

/* @media screen and (width: 667px) and (height: 375px) and (orientation:portrait){ */

@media screen and (width: 667px) and (height: 375px){

	.mainContainer{
		background: #0077C0;
	  padding-top: 3em;
	  margin: auto;
	  width: 100%
	}

	.description {
	width: 100%;
	height: 200px;

	}

	.displayImage{
	  width:200px;
		border-radius: 8%;
	}

	.container {
	  height: 8em;
	  width: 90%;
	}

	.image {
	   align-self: center;
		 width: 5em;
		margin: 2vh;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 375px) and (height: 667px){

	.mainContainer{
		background: #0077C0;
		padding-top: 3em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 220px;

	}

	.displayImage{
		width:220px;
		border-radius: 8%;
	}

	.container {
		height: 100%;
		width: 90%;
		margin-top: 20px;

	}

	.image {
		 align-self: center;
		 width: 4em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 25px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 220px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 896 x 414 */

@media screen and (width: 896px) and (height: 414px){

	.mainContainer{
		background: #0077C0;
		padding-top: 2em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 240px;

	}

	.displayImage{
		width:240px;
		border-radius: 8%;
	}

	.left {
	  width: 260px;
	}

	.container {
		height: 7em;
		width: 80%;
		 margin-top: 15px;
	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 414px) and (height: 896px){

	.border {
		max-height: 900px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 6em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 260px;

	}

	.displayImage{
		width:260px;
		border-radius: 8%;
	}

	.container {
		height: 13em;
		width: 90%;
		margin-top: 10px;
		padding-bottom: 50px;

	}

	.image {
		 align-self: center;
		 width: 4em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 55px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 260px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}


/* RES 844 x 390 */

@media screen and (width: 844px) and (height: 390px){

	.mainContainer{
		background: #0077C0;
		padding-top: 2em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 200px;

	}

	.displayImage{
		width:200px;
		border-radius: 8%;
	}

	.left {
	  width: 200px;
	}

	.container {
		height: 7em;
		width: 80%;
		 margin-top: 15px;
	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 390px) and (height: 844px){

	.border {
		max-height: 900px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 5em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 260px;

	}

	.displayImage{
		width:260px;
		border-radius: 8%;
	}

	.container {
		height: 13em;
		width: 90%;
		margin-top: 10px;
		padding-bottom: 50px;

	}

	.image {
		 align-self: center;
		 width: 4em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 40px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 260px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 851x 393 */

@media screen and (width: 851px) and (height: 393px){

	.mainContainer{
		background: #0077C0;
		padding-top: 2em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 220px;

	}

	.displayImage{
		width:220px;
		border-radius: 8%;
	}

	.left {
		width: 240px;
	}

	.container {
		height: 9em;
		width: 80%;
		 margin-top: 5px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 393px) and (height: 851px){


	.border {
		max-height: 900px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 5.5em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 260px;

	}

	.displayImage{
		width:260px;
		border-radius: 8%;
	}

	.container {
		height: 13em;
		width: 90%;
		margin-top: 10px;
		padding-bottom: 50px;

	}

	.image {
		 align-self: center;
		 width: 4em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 40px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 260px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 740x 360 */

@media screen and (width: 740px) and (height: 360px){

	.mainContainer{
		background: #0077C0;
		padding-top: 1.8em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 200px;

	}

	.displayImage{
		width:200px;
		border-radius: 8%;
	}

	.left {
		width: 220px;
	}

	.container {
		height: 9em;
		width: 80%;
		 margin-top: 0px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

@media screen and (width: 360px) and (height: 740px){

	.border {
		max-height: 900px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 4.5em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 220px;

	}

	.displayImage{
		width:220px;
		border-radius: 8%;
	}

	.container {
		height: 13em;
		width: 90%;
		margin-top: 5px;
		padding-bottom: 50px;

	}

	.image {
		 align-self: center;
		 width: 4em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 40px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 220px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}
}

/* RES 915 x 412 */

@media screen and (width: 915px) and (height: 412px){

	.mainContainer{
		background: #0077C0;
		padding-top: 3em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 220px;

	}

	.displayImage{
		width:220px;
		border-radius: 8%;
	}

	.left {
		width: 220px;
	}

	.container {
		height: 7em;
		width: 80%;
		 margin-top: 20px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 12px;
}

.highScore ul {
 font-size: 12px;
 line-height: 1.8;
}
}

@media screen and (width: 412px) and (height: 915px){

	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 6em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 260px;

	}

	.displayImage{
		width:260px;
		border-radius: 8%;
	}

	.container {
		height: 7em;
		width: 90%;
		margin-top: 50px;
		padding-bottom: 10px;

	}

	.image {
		 align-self: center;
		 width: 4em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 50px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 260px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 20px;
}

.highScore p {
 font-size: 10px;
}

.highScore ul {
 font-size: 10px;
 line-height: 1.8;
}

}

/* RES 1180 x 820 */

@media screen and (width: 1180px) and (height: 820px){

	.border {
		max-height: 900px;
		max-width: 1200px;
	}

	.mainContainer{
		background: #0077C0;
		padding-top: 5.5em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 60px;
	}

	.description {
	width: 100%;
	height: 400px;
  font-size: 22px;

	}

	.displayImage{
		width:400px;
		border-radius: 8%;
	}

	.left {
		width: 400px;
	}

	.container {
		height: 14em;
		width: 80%;
		 margin-top: 40px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 10em;
		margin: 2vh;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 28px;
}

.highScore p {
 font-size: 22px;
}

.highScore ul {
 font-size: 22px;
 line-height: 1.8;
}

#empty p {
	visibility: hidden;
	margin-top: 100px;
}

}

@media screen and (width: 820px) and (height: 1180px){


	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 5em;
		margin: auto;
		width: 100%
	}

  .display {
		display: flex;
 	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 400px;
  font-size: 22px;
	}

	.displayImage{
		width: 400px;
		border-radius: 8%;
	}

	.container {
		height: 9em;
		width: 90%;
		margin-top: 50px;
		padding-bottom: 10px;

	}

	.image {
		 align-self: center;
		 width: 6em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 50px;
	 /* padding-top: 5px; */
	}

	.left {
	  width: 400px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 28px;
}

.highScore p {
 font-size: 22px;
}

.highScore ul {
 font-size: 22px;
 line-height: 1.8;
}
}

/* RES 1024 x 768 */

@media screen and (width: 1024px) and (height: 768px){

	.border {
		max-height: 900px;
		max-width: 1200px;
	}

	.mainContainer{
		background: #0077C0;
		padding-top: 5.5em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 60px;
	}

	.description {
	width: 100%;
	height: 400px;
  font-size: 24px;

	}

	.displayImage{
		width:400px;
		border-radius: 8%;
	}

	.left {
		width: 400px;
	}

	.container {
		height: 14em;
		width: 80%;
		 margin-top: 40px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 10em;
		margin: 2vh;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 27px;
}

.highScore p {
 font-size: 21px;
}

.highScore ul {
 font-size: 21px;
 line-height: 1.8;
}
}

@media screen and (width: 768px) and (height: 1024px){

	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 4em;
		margin: auto;
		width: 100%
	}

	.display {
		display: flex;
	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 330px;
  font-size: 18px;
	}

	.displayImage{
		width: 330px;
		border-radius: 8%;
	}

	.container {
		height: 10em;
		width: 90%;
		margin-top: 50px;
		padding-bottom: 10px;

	}

	.image {
		 align-self: center;
		 width: 6em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 50px;
	 /* padding-top: 5px; */
	}

	.left {
		width: 330px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 27px;
}

.highScore p {
 font-size: 21px;
}

.highScore ul {
 font-size: 21px;
 line-height: 1.8;
}
}

/* RES 1368 x 912 */

@media screen and (width: 1368px) and (height: 912px){

	.border {
		max-height: 1000px;
		max-width: 1400px;
	}

	.mainContainer{
		background: #0077C0;
		padding-top: 5.5em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 60px;
	}

	.description {
	width: 100%;
	height: 500px;
  font-size: 23px;

	}

	.displayImage{
		width:500px;
		border-radius: 8%;
	}

	.left {
		width: 500px;
	}

	.container {
		height: 16em;
		width: 80%;
		 margin-top: 40px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 12em;
		margin: 2vh;
	}

	#empty p {
		margin-top: 100px;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 30px;
}

.highScore p {
 font-size: 25px;
}

.highScore ul {
 font-size: 25px;
 line-height: 1.8;
}
}

@media screen and (width: 912px) and (height: 1368px){

	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 5em;
		margin: auto;
		width: 100%
	}

	.display {
		display: flex;
	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 460px;
  font-size: 23px;
	}

	.displayImage{
		width: 460px;
		border-radius: 8%;
	}

	.container {
		height: 12em;
		width: 90%;
		margin-top: 50px;
		padding-bottom: 10px;

	}

	.image {
		 align-self: center;
		 width: 8em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 50px;
	 /* padding-top: 5px; */
	}

	.left {
		width: 460px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}


/* ///HS FONTS */
.HSlists {
	padding-top: 4em;
}

.highScoreName{
	font-size: 30px;
}

.highScore p {
 font-size: 25px;
}

.highScore ul {
 font-size: 25px;
 line-height: 1.8;
}
}

/* RES 720 x 540 */

@media screen and (width: 720px) and (height: 540px){

	.border {
		max-height: 1000px;
		max-width: 1400px;
	}

	.mainContainer{
		background: #0077C0;
		padding-top: 4em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 260px;

	}

	.displayImage{
		width: 260px;
		border-radius: 8%;
	}

	.left {
		width: 260px;
	}

	.container {
		height: 8em;
		width: 80%;
		 margin-top: 40px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 6em;
		margin: 2vh;
	}

	#empty p {
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 18px;
}

.highScore p {
 font-size: 14px;
}

.highScore ul {
 font-size: 14px;
 line-height: 1.8;
}
}

@media screen and (width: 540px) and (height: 720px){

	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 3em;
		margin: auto;
		width: 100%
	}

	.display {
		display: flex;
	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 240px;

	}

	.displayImage{
		width: 240px;
		border-radius: 8%;
	}

	.container {
		height: 7.5em;
		width: 90%;
		margin-top: 20px;
		padding-bottom: 10px;

	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 30px;
	 /* padding-top: 5px; */
	}

	.left {
		width: 240px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 18px;
}

.highScore p {
 font-size: 14px;
}

.highScore ul {
 font-size: 14px;
 line-height: 1.8;
}
}

/* RES 653 x 280 */

@media screen and (width: 653px) and (height: 280px){

	.border {
		max-height: 1000px;
		max-width: 1400px;
	}

	.mainContainer{
		background: #0077C0;
		padding-top: 1em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 180px;
  font-size: 12px;
	}

	.displayImage{
		width: 180px;
		border-radius: 8%;
	}

	.left {
		width: 180px;
	}

	.container {
		height: 5em;
		width: 80%;
		 margin-top: 5px;
		 padding-bottom: 15px;
	}

	.image {
		 align-self: center;
		 width: 3em;
		margin: 2vh;
	}

	#empty p {
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 2em;
}

.highScoreName{
	font-size: 10px;
}

.highScore p {
 font-size: 8px;
}

.highScore ul {
 font-size: 8px;
 line-height: 1.8;
}
}

@media screen and (width: 280px) and (height:653px){

	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 4em;
		margin: auto;
		width: 100%
	}

	.display {
		display: flex;
	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 180px;
	font-size: 12px;
	}

	.displayImage{
		width: 180px;
		border-radius: 8%;
	}

	.container {
		height: 6.5em;
		width: 90%;
		margin-top: 40px;
		padding-bottom: 20px;

	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 40px;
	 /* padding-top: 5px; */
	}

	.left {
		width: 180px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 2em;
}

.highScoreName{
	font-size: 10px;
}

.highScore p {
 font-size: 8px;
}

.highScore ul {
 font-size: 8px;
 line-height: 1.8;
}
}

/* RES 914 x 412 */

@media screen and (width: 914px) and (height: 412px){

	.border {
		max-height: 1000px;
		max-width: 1400px;
	}

	.mainContainer{
		background: #0077C0;
		padding-top: 2em;
		margin: auto;
		width: 100%
	}

	.right {
	 padding-left: 40px;
	}

	.description {
	width: 100%;
	height: 250px;
  font-size: 15px;
	}

	.displayImage{
		width: 250px;
		border-radius: 8%;
	}

	.left {
		width: 250px;
	}

	.container {
		height: 6.5em;
		width: 80%;
		 margin-top: 15px;
		 padding-bottom: 10px;
	}

	.image {
		 align-self: center;
		 width: 4.5em;
		margin: 2vh;
	}

	#empty p {
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 2.5em;
}

.highScoreName{
	font-size: 15px;
}

.highScore p {
 font-size: 12px;
}

.highScore ul {
 font-size: 12px;
 line-height: 1.8;
}
}

@media screen and (width: 412px) and (height:914px){


	.border {
		max-height: 1000px;
	}
	.mainContainer{
		background: #0077C0;
		padding-top: 4em;
		margin: auto;
		width: 100%
	}

	.display {
		display: flex;
	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 260px;
	font-size: 14px;
	}

	.displayImage{
		width: 260px;
		border-radius: 8%;
	}

	.container {
		height: 6.5em;
		width: 90%;
		margin-top: 60px;
		padding-bottom: 20px;

	}

	.image {
		 align-self: center;
		 width: 5em;
		margin: 2vh;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 60px;
	 /* padding-top: 5px; */
	}

	.left {
		width: 260px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}

/* ///HS FONTS */
.HSlists {
	padding-top: 3em;
}

.highScoreName{
	font-size: 14px;
}

.highScore p {
 font-size: 11px;
}

.highScore ul {
 font-size: 11px;
 line-height: 1.8;
}
}



/* //////MAX-width */

 /* @media not screen and (max-width: 800px) and (orientation:portrait) {

	.mainContainer{
		background: #0077C0;
		padding-top: 3em;
		margin: auto;
		width: 100%
	}

	.display {
		display: flex;
	 flex-direction: column-reverse;
	}

	.description {
	width: 100%;
	height: 300px;
	font-size: 14px;
	}

	.displayImage{
		width: 300px;
		border-radius: 8%;
	}

	.right {
	 align-items: center;
	 justify-content: center;
	 padding-left: 0px;
	 margin-bottom: 40px;
	}

	.left {
		width: 300px;
	}

	#empty p {
		visibility: hidden;
		margin-top: 100px;
	}
} */
