
html,body {
	background: white;
	width: 100%;
  height: 100vh;
	margin: auto;
  padding: 0;
  overflow: hidden;
 user-select: none;

}

* {
	box-sizing: border-box;
}

#preloader{
	background: #0077C0 url("/img/gears-gif-preloader1.gif") no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}


@font-face {
	font-family: 'NHG_Rg';
	src: url(/font/NHaasGroteskTXPro-55Rg.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'NHG_Md';
	src: url(/font/NHaasGroteskTXPro-65Md.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'NHG_Bd';
	src: url(/font/NHaasGroteskTXPro-75Bd.ttf);
	font-style: normal;
	font-weight: 100;
}

.border {
	background: white;
	margin: auto;
	width: 100%;
	height: 100vh;
	/* max-height: 800px; */
	max-width: 800px;
  padding: 0;
	align-items: center;
	justify-content: center;
}

.mainContainer{
	background: #0077C0;
  padding-top: 10vh;
  /* margin: auto; */
  width: 100%;
}

.tools {
	color: #E4032E;
}


.display {
   display: flex;
	 flex-direction: row;
	 align-items: center;
 	 justify-content: center;
	 margin: auto;
	background: #0077C0;
	width: 90%;
	max-width: 800px;
}


.left {
  width: 40vh;
	height: 40vh;
 background:#f0f5fd;
 border-radius: 8%;
 border-collapse: separate;
 -webkit-border-radius: 8%;
 -moz-border-radius: 8%;
 outline: 5px solid white;

}

.right {
 /* align-items: center;
 justify-content: center; */
margin-left: 3vw;
 width: 40vh;
}

.description {
width: 100%;
height: 40vh;
display: flex;
 justify-content: center;
 padding: 8%;
 color: #383838;
 font-size: 14px;
 font-family: NHG_Md;
 font-weight: 100;
 text-decoration: none;
 letter-spacing: .5px;
	overflow-y: scroll;
	overflow-x: hidden;
}



.displayImage{
	margin: auto;
	width:inherit;
  background: white;
	border-radius: 8%;
	border-collapse: separate;
	-webkit-border-radius: 8%;
  -moz-border-radius: 8%;
	outline: 5px solid white;
}


.container {

  margin-top: 1vh;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
  height: 22vh;
  width: 90%;
	margin: auto;
	-webkit-overflow-scrolling: touch;
	 -webkit-mask-image: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent),
	                     linear-gradient( transparent 85%, #000 85%);

}

.image {
   align-self: center;
	 width: 16vh;
	background: white;

	margin: 2vh;
	border-radius: 8%;
	border-collapse: separate;
	-webkit-border-radius: 8%;
  -moz-border-radius: 8%;
	outline: .4vh solid white;

	 cursor: pointer;
}



.img-selected {

  border-radius: 10%;
	border-collapse: separate;
	-webkit-border-radius: 10%;
  -moz-border-radius: 10%;
	outline: 1vh solid white;
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;

	 filter: none;
	 -webkit-filter: blur(0px);
	 -moz-filter: blur(0px);
	 -ms-filter: blur(0px);
	 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}


.empty {
	background: #0077C0
}

#empty p {
	visibility: hidden;
	margin-top: 200px;
}



/* /////MQ */
