
/* @media screen styles */



@media screen and (max-height: 820px) and (orientation:landscape) {

 .container {
   margin-top: 3vh;
   height: 20vh;
   width: 90%;
 }
 .image {
    align-self: center;
   width: 14vh;
 }
 .left {
   width: 50vh;
 	height: 50vh;
 }

 .right {
  padding-left: 3vw;
  width: 50vh;
 }
 .description {
 height: 50vh;
 }
}

@media screen and (max-height: 660px) and (orientation:landscape) {

 .container {
   margin-top: 3vh;
   height: 20vh;
   width: 90%;
 }
 .image {
    align-self: center;
   width: 14vh;
 }
 .left {
   width: 60vh;
 	height: 60vh;
 }

 .right {
  padding-left: 3vw;
  width: 60vh;
 }
 .description {
 height: 60vh;
 }

}

@media screen and (max-height: 520px) and (orientation:landscape) {

 .container {
   margin-top: 2vh;
   height: 20vh;
   width: 90%;
   -webkit-overflow-scrolling: touch;
 	 -webkit-mask-image: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent),
 	                     linear-gradient( transparent 80%, #000 80%);
 }
 .image {
    align-self: center;
   width: 12vh;
 }
 .left {
   width: 65vh;
 	height: 65vh;
 }

 .right {
  padding-left: 3vw;
  width: 65vh;
 }
 .description {
 height: 65vh;
 }

}



/* ////HEIGHT */




 @media screen and (orientation:portrait) {
   .mainContainer{
     padding-top: 10vh;
   }

  .display {
     display: flex;
     flex-direction: column-reverse;
      }

      .left {
        width: 30vh;
      	height: 30vh;
      }

      .right {
      padding-bottom: 4vh;
       padding-left: 0;
       width: 30vh;
      }

      .container {
        margin-top: 3vh;
        height: 22vw;
        width: 90%;
      }

      .image {
      	 width: 16vw;
      	margin: 2vh;
      }
      .description {
      height: 30vh;
      font-size: 12px;
      }
    }
